.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 400px;
    max-height: calc(100vh - 40px);
    overflow: auto;
    background: rgba(0, 170, 255, 0.75);
    border-radius: 7px;
    padding: 7px;
    .chatWindow{
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: auto;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 5px;
        padding: 5px;
        position: relative;
        flex-direction: column;
        min-height: 200px;
        &:not(:last-child){
            margin-bottom: 5px;
        }
        .chatContent{
            display: flex;
            flex: 1;
            overflow: auto;
            flex-direction: column;
            justify-content: flex-start;
            max-height: calc(100vh - 81px);
            overflow: auto;
            p{
                margin: 0;
                margin-bottom: 3px;
                font-size: 12px;
                .role{
                    opacity: 0.5;
                }
                .name{
                    font-weight: bold;
                }
                .time{
                    opacity: 0.5;
                }
            }
        }
        input{
            flex: 0;
            height: 21px;
        }
        .sendButton{
            position: absolute;
            width: 100px;
            right: 5px;
            bottom: 5px;
            background: rgb(0, 170, 255);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 21px;
            cursor: pointer;
        }
    }
}
