.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 400px;
  max-height: calc(100% - 40px);
  overflow: auto;
  background: rgba(0, 170, 255, 0.75);
  border-radius: 7px;
  padding: 7px;
}
.container .chatWindow {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 5px;
  position: relative;
  flex-direction: column;
  min-height: 200px;
}
.container .chatWindow:not(:last-child) {
  margin-bottom: 5px;
}
.container .chatWindow .chatContent {
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 100%;
  overflow: auto;
}
.container .chatWindow .chatContent p {
  margin: 0;
  margin-bottom: 3px;
  font-size: 12px;
}
.container .chatWindow .chatContent p .role {
  opacity: 0.7;
}
.container .chatWindow .chatContent p .name {
  font-weight: bold;
}
.container .chatWindow .chatContent p .time {
  opacity: 0.7;
}
.container .chatWindow input {
  flex: 0;
  height: 21px;
}
.container .chatWindow .sendButton {
  position: absolute;
  width: 100px;
  right: 5px;
  bottom: 5px;
  background: #00aaff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
