<head>
    <meta charset="UTF-8">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js'></script>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="/support.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class='container'>
    </div>
</body>